.quiz-button {
	background-color: var(--secondary-color);
	aspect-ratio: 1 / 1;
	border-radius: 20px;
	max-height: 400px;
	width: 20vw;
	font-size: 20px;
	image-rendering: pixelated;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
}

.quiz-button img {
	width: 40%;
	height: 40%;
}

.container {
	display: grid;
	gap: 2vw;
	grid-template: auto / repeat(auto-fill, minmax(20vw, 20vw));
	justify-content: center;
	padding: 20px;
	margin-bottom: 20px;
}
