@import "tailwindcss";

@layer utilities {
	.image-pixel {
		image-rendering: pixelated;
	}
}

@layer base {
	body {
		cursor: url("./assets/cursor-icon.png") 4 4, auto;
	}
	button,
	a {
		cursor: url("./assets/cursor-pointer-icon.png") 2 2, pointer;
	}
	input[type="text"],
	textarea {
		cursor: url("./assets/cursor-text-icon.png") 16 16, text;
	}
}
